/* 2 divs positioned in opposite halves of the screen */
.class1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.class2 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 100%;
    display: inline-block;
}

#editor {
    width: 100%;
    height: 90%;
}

.marker {
    position: absolute;
    background: #FF0000AA;
    z-index: 40;
}

.horiz1 {
    position: relative;
    height: 50%;
}

.memory {
    position: absolute;
    width: 80%;
    height: 100%;

    overflow-x: hidden;
    overflow-y: auto;
}

.memorycell {
    border: solid;
    box-sizing: border-box;
    margin: 0.25%;
    width: 9.5%;
    height: 30px;
    text-align: center;
    font-family: 'Lucida Grande', monospaced;
    display: inline-block;
    line-height: 30px; 
}

.io {
    position: absolute;
    right: 0;
    top: 0;
    width: 15%;
    height: 100%;
}

.output {
    position: absolute;
    top: 0%;
    width: 100%;
    height: 80%;
}

.input {
    position: absolute;
    top: 80%;
    width: 100%;
    height: 20%;
}

.inputbox {
    position: absolute;
    top: 0%;
    left: 2.5%;
    width: 90%;
}

.inputbutton {
    position: absolute;
    bottom: 0%;
    width: 100%;
}

.horiz2 {
    position: relative;
    height: 50%;
}

.register {
    position: absolute;
    width: 50%;
    height: 100%;
}

.stack {
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 50%;
}

.controls {
    position: absolute;
    right: 0;
    top: 50%;
    width: 50%;
    height: 50%;
}
